* {
	box-sizing: border-box;
}

body {
	background-color: lightgray;

	padding: 0;
	margin: 0;

	font-family: sans-serif;

	overflow-x: hidden;
}

#toolStrip {
	float: left;

	background-color: gray;
	
	width: 100%;
	height: 60px;

	padding: 5px;
}

#toolStrip button {
	float: left;

	width: 20%;
	height: 50px;

	display: none;
}

#smallInfoSection {
	padding: 5px;

	display: none;
}

#smallInfoSection button {
	float: left;

	width: 50%;
	height: 50px;
}

#smallFirstSection {
	float: left;
	width: 100%;
}

#smallSecondSection {
	float: left;
	width: 100%;
}

#smallFirstSection button {
	width: 20%;
}

#smallSecondSection button {
	width: 20%;
}

#editorSection {
	width: calc(100% - 490px);
	height: 640px;

	float: left;

	padding: 10px;
}

#canvasSection {
	width: 480px;
	height: 640px;

	float: left;

	padding: 10px;
	padding-left: 0px;
}

#outputSection {
	width: calc(100% - 490px);
	height: 220px;

	float: left;

	padding: 10px;
}

#infoSection {
	width: 480px;
	height: 220px;

	float: left;

	padding: 10px;

	padding-left: 0px;
	padding-right: 0px;

	display: block;
}

#infoSection button {
	float: left;

	width: 33.33%;
	height: 50px;
}

#editorArea {
	display: none;
}

#outputArea {
	display: none;
}

#mainCanvas {
	image-rendering: pixelated;
}

@media screen and (max-width: 600px) {
	#editorSection {
		width: 100%;
		padding: 5px;
	}

	#canvasSection {
		padding: 0px;
	}
}