* {
	box-sizing: border-box;
}

body {
	background-color: lightgray;

	padding: 0;
	margin: 0;

	font-family: sans-serif;

	overflow-x: hidden;
}

#toolStrip {
	background-color: gray;
	
	width: 100%;
	height: 60px;

	padding: 10px;
}

#canvasSection {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;

	padding: 10px;
}

#inputSection {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;

	padding: 10px;
}

#inputStream {
	width: 100%;
	height: auto;
}

@media screen and (max-width: 600px) {
	body {
		overflow-y: hidden;
	}

	#canvasSection {
		padding: 0px;
		margin: 0px;
	}

	#mainCanvas {
		touch-action: none;
	}
}